
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Search</title>
    <link rel="stylesheet" href="../public/css/style.css" type="text/css" />
  </head>
  <body style="margin: 0px;">
      <header id="dashboard-header">
        <img src="../public/back.svg" onclick="goback()" alt="back" id="backarrow">
        <h2><%= title %> Search</h2>
      </header>
      <main style="text-align: center;max-width: 400px;margin: 0px auto;">
        <div>
          <input type="checkbox" id="state" value="state">
            <label for="state">Sort By State</label><br>
        </div>
          <div>
            <input placeholder="Enter city name" type="text" id="city-input" style="font-size: 16px;padding: 8px;"/>
            <button onclick="submitSearch()" id="city-btn" class="simple-btn">Search</button>
          </div>
          <div id="list-card"></div>
      </main>

      <script>
        // If the user presses enter in the search textbox, perform a search.
        document.getElementById('city-input').onkeyup = function (e) {
          if (e.keyCode === 13) {
            submitSearch();
          }
        };
        async function submitSearch() {
            let cityName = document.getElementById("city-input").value;
            cityName= cityName.toUpperCase();
            let html = [];
            if(cityName!==""){
              try {
                let response = await fetch(`http://localhost:8000/city/${cityName}`);
                let json = await response.json();
                if(json&&json.length!==0){
                  let citiesList = await Promise.all(json.map(async zipcode=>{
                      let responseByZip = await fetch(`http://localhost:8000/zip/${zipcode}`);
                      let jsonByZip = await responseByZip.json();
                      return jsonByZip;
                  }))
                  citiesList=citiesList.flat();  
                  if (document.getElementById('state').checked) {
                    citiesList.sort(function(a, b){
                      if(a.State < b.State) { return -1; }
                      if(a.State > b.State) { return 1; }
                      return 0;
                    })
                  }  
                    for (var i = 0; i < citiesList.length; i++) {
                    let data = citiesList[i];
                    let card=`<div style="border: 1px solid #ccc;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;border-radius: 4px;margin: 10px;">
                        <div style="padding: 6px;background-color: #eee;font-size: 18px;">${data.LocationText}</div>  
                        <div style="display: flex;justify-content: center;">
                          <ul>    
                              <li style="text-align: left;">Location: (${data.Lat}, ${data.Long})</li>
                              <li style="text-align: left;">Zip Code: ${data.Zipcode}</li>
                          </ul>
                          </div>  
                      </div>`
                    html.push(card);
            }
            document.getElementById('list-card').innerHTML = html.join('');
                }
              } catch (error) {
                console.log(error,"error");
              }
            }
        }

        function goback(){
          window.location.href = window.location.origin;
        }
        </script>
  </body>
</html>